
<!-- Navigation-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RECETUKIS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="bg-img">
            <div class="container">
                <div class="topnav">
                    <nav class="navbar navbar-light">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="">RECETUKIS</a>
                            </div>
                        </div>
                 
                        {% block avatar %}      
                        {% endblock %}
                        <!-- Valida si el usuario esta logeado-->
                        {% if user.is_authenticated %}      
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'inicio' %}">Inicio</a></li>
                            <li class="active"><a href="{% url 'user_profile' %}">Mi perfil</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'all_posts' %}">Recetas<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'add_post' %}">Agregar receta</a></li>
                                    <li><a href="{{post.slug}}/edit_post">Editar receta</a></li>
                                    <li><a href="{{post.slug}}/delete">Borrar receta</a></li>
            
                                </ul>
                            </li>
                        </ul>
                        {% if user.is_superuser %}
                        {% endif %}
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'mensajeUsuarios' %}">Mensajes</a></li>
                            <li class="active"><a href="{% url 'about_me' %}">Acerca de</a></li>
                            <li class="active"><a href="{% url 'logout' %}">Cerrar sesion</a></li>
                        </ul>
                        {% else %}
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'inicio' %}">Inicio</a></li>
                            <li class="active"><a href="{% url 'all_posts' %}">Recetas</a></li>
                            <li class="active"><a href="{% url 'about_me' %}">Acerca de</a></li>
                            <li class="active"><a href="{% url 'login' %}">Iniciar sesion</a></li>
                        </ul>
            
                        {% endif %}
                            
                        <form class="navbar-form navbar-left" action="/action_page.php">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="Buscar">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>         
                                </div>
                            </div>
                        </form> 
                    </nav>
                </div>
            </div>
        </div>
    
        

        <!-- Page Header-->
        {% block encabezado %}
        {% endblock  %}
        <!-- Main Content-->
        {% block contenido %}
        {% endblock  %}
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <br>
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://github.com/KarenSchurmann">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; <strong>RECETUKIS</strong> creada como proyecto final para coderhouse por Karen Denise Schurmann</div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>